html{
  scroll-behavior: smooth;
}
#skills{
  height: 40vh;
  background-image: url(https://cdn.pixabay.com/photo/2016/11/29/11/39/computer-1869236_1280.jpg);
  background-size: cover;
}
#portfolio{
  height: 30vh;
}

#contact{
  height: 40vh;
}

.text-light{
text-shadow: 2px 2px 4px black;
font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}
.nav-link{
  mix-blend-mode: screen;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

.headshot{
  height: 40vh;
  width: auto;
  border-radius: 50%;
}

.btn{
  border-radius: 300px;
}

.btn-lg{
  border: 1px solid white;
}

.logo{
  height: 15vh;
  width: auto;
}