html{
  scroll-behavior: smooth;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}

#skills{
  height: 80vh;
  background-image: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(126,126,126,0.527345972568715) 50%, rgba(255,255,255,1) 100%), url(https://cdn.pixabay.com/photo/2016/11/29/11/39/computer-1869236_1280.jpg);
  background-size: cover;
}

#about-me{
background: rgb(0,0,0);
background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 0%, rgba(154,154,154,1) 60%);
}

#arsenal{
  background: rgb(0,0,0);
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(126,126,126,1) 50%, rgba(154,154,154,1) 100%);
}

#contact{
  height: 40vh;
}

#cards{
  align-content: center;
}

#logo-section{
  justify-content: space-between;
}

#pointOut-card-body{
  background-image: url(https://i.imgur.com/96UdPa9.png);
  background-position: center;
  background-size: cover;
}

.text-light{
text-shadow: 0px 0px 5px black;
}

.nav-link{
  mix-blend-mode: screen;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

.headshot{
  height: 40vh;
  width: auto;
  box-shadow: 0px 0px 40px 5px black;
  border-radius: 50%;
}


.bg-black{
  background-color: black;
}

.btn{
  border-radius: 300px;
}

.btn-lg{
  border: 1px solid white;

}

.logo{
  height: 8vh;
  width: auto;
}

.col-md-3{
  justify-content: center;
}

.vertical-align{
  display: flex;
  align-items: center;
}

.contact-info{
  text-transform: none;
}

/* Hover On Projects */

.project-container {
  position: relative;
  width: 100%;
  height: 75%;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.project-container:hover .image {
  opacity: 0.5;
}

.project-container:hover .middle {
  opacity: 1;
}