html{
  scroll-behavior: smooth;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}
#skills{
  height: 80vh;
  background-image: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(126,126,126,0.527345972568715) 50%, rgba(255,255,255,1) 100%), url(https://cdn.pixabay.com/photo/2016/11/29/11/39/computer-1869236_1280.jpg);
  background-size: cover;
}

#about-me{
  background: rgb(0,0,0);
  background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 20%, rgba(255,255,255,1) 100%);
}

#arsenal{
  background: rgb(0,0,0);
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(126,126,126,1) 50%, rgba(255,255,255,1) 100%);
}

#contact{
  height: 40vh;
}

#cards{
  align-content: center;
}

#logo-section{
  justify-content: space-between;
}

.text-light{
text-shadow: 2px 2px 4px black;

}
.nav-link{
  mix-blend-mode: screen;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

.headshot{
  height: 40vh;
  width: auto;
  border-radius: 50%;
}

.bg-black{
  background-color: black;
}

.btn{
  border-radius: 300px;
}

.btn-lg{
  border: 1px solid white;

}

.logo{
  height: 15vh;
  width: auto;
}

.col-md-3{
  justify-content: center;
}

.vertical-align{
  display: flex;
  align-items: center;
}